.App {
  text-align: center;
}

.appForm{
  padding: 20px;
  text-align: center!important;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  display: flex !important;
  width: 50%;
  left: 20%;
  margin: 20px;
  position: fixed;
}

.appFormControll{
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
}

.appIconButton{
  flex: 0!important;
}
.appInputField{
  flex: 1!important;
}